.git
.github
.vscode
node_modules
**/node_modules
dist
**/dist
coverage
**/coverage
.pnpm-store
.turbo

.env
**/.env
**/.env.*

apps/web/apps/web/.data-dev
apps/web/data
apps/web/config
apps/web/logs
apps/web/backups

website/node_modules
website/dist

*.log
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.db
*.db-shm
*.db-wal

.DS_Store